plaintext
streamlit
streamlit-extras
requests
beautifulsoup4
google-api-python-client
python-dotenv
nltk
pandas
Pillow
uuid
matplotlib
streamlit-chat
autogen
openai
pyautogen
chromadb
ollama
fpdf
certifi
charset-normalizer
click
idna
langchain
langchain-community
numpy
packaging
pdfkit
PyPDF2
pylint
python-dateutil
six
soupsieve
toml
typing_extensions
urllib3
validators
webdriver-manager
Werkzeug
selenium
